@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', monospace;
}

button:hover {
    background-color: rgb(131, 120, 219, 1);
}